# Can also ignore all directories and files in a directory.
.bundle/install.log
tmp/**/*
log/*
.bundle/install.log
#config/database.yml
Gemfile.lock
config/initializers/sidekiq.rb

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.project
