/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require bootstrap-datetimepicker
 *= require bootstrap-editable
 *= require bootstrap-wysihtml5
 *= require easyui
 *= require fullcalendar
 *= require jquery.listnav-2.1
 *= require jquery.tagsinput
 *= require wakeupsales
 *= require jquery.minicolors
 *= require jquery.powertip
 *= require datepicker
 *= require jquery.wysiwyg
 *= require bootstrap-duallistbox
 *= require_self
 */
  .twitter-typeahead {
    width: 100%;
  }
  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    margin-bottom: 0;
  }
  .input-group>.twitter-typeahead:first-child>.tt-query.form-control {
      border-radius: 6px 0 0 6px !important;
  }
  .input-group>.twitter-typeahead:first-child>.tt-query.form-control.input-small {
      border-radius: 4px 0 0 4px !important;
  }
  .tt-hint {
    display: block;
    width: 100%;
    height: 30px;
    padding: 14px 14px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .tt-dropdown-menu {
    min-width: 160px;
      width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  .tt-suggestion {
    display: block;
    padding: 3px 20px;
  }
  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
  }
  .tt-suggestion.tt-is-under-cursor a {
    color: #fff;
  }
  .tt-suggestion p {
    margin: 0;
  }

 